<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Contact Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/email.png" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet"  href="public/css/main.css">
</head>
<body class="container">
    <div class="container z-depth-2 center-align col-lg-7 cont_main">
        <h1 class="sent_hdr">Email Sent Succesfully!!</h1>
        <div class="seperator">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <p class="mess_sent">Thanks <span style="font-weight: 800">{{firstname}}</span> for reaching out to us, our team will be in touch with you as soon as possible.</p>
    </div>
    <script src="index.js"></script>
</body>
</html>